<% provide(:title, @taxon.name) %>

<!-- LIGHT SECTION -->
<%= render 'page_header', taxon: @taxon %>

<!-- MAIN CONTENT SECTION -->
<%= render 'main_section', products: @products, taxonomies: @taxonomies %>

<!-- LIGHT SECTION -->
<%= render 'page_footer' %>

<!-- LOGIN MODAL -->
<%= render 'shared/login_modal' %>

<!-- SIGN UP MODAL -->
<%= render 'shared/signup_modal' %>