<% provide(:title, @product.name) %>

<!-- LIGHT SECTION -->
<%= render 'page_header', product: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main_section', product: @product, product_images: @product_images %>
    <%= render 'related_products', related_products: @related_products %>
  </div>
</section>


<!-- LOGIN MODAL -->
<%= render 'shared/login_modal' %>

<!-- SIGN UP MODAL -->
<%= render 'shared/signup_modal' %>
