<!DOCTYPE html>
<html lang='ja'>
  <head>
    <%= render('layouts/set_up_head') %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render('layouts/header') %>
      <%= yield %>
      <%= render('layouts/footer') %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
